
{% extends "base.html.twig" %}

{% block title %}{{ myFile.titre }}{% endblock %}


{% block body %}
    <div class="row my-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ myFile.titre }}
                    </h3>
                    <div>
                        {% if (myFile.stateFile is null) %}
                            <p class="btn btn-sm btn-secondary"> En cours .. </p>
                        {% elseif (myFile.stateFile) %}
                            <p class="btn btn-sm btn-success"> Accepté </p>
                        {% else%}
                            <p class="btn btn-sm btn-danger"> Refusé </p>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ myFile.description }}
                    </div>
                    <div class="card-text">
                        {% if myFile.brochureFilename %}
                            <a class="btn btn-primary stretched-link" href="{{ asset('uploads/brochures/' ~ myFile.brochureFilename) }}">Consulter le fichier PDF</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}